<% include partials/header.ejs %>

<div class="container">
  <form action="/pokedex/<%= pokemon._id %>?_method=put" method="post">
    <!-- name -->
    <h4>
      Name: <input type="text" value="<%= pokemon.name %>" name="pokemon[name]">
    </h4>
    <!-- type -->
    <h4>
      Type:
      <select class="form-control" name="pokemon[type]" style="width: 100px;">
        <option value="grass">Grass</option>
        <option value="water">Water</option>
        <option value="rock">Rock</option>
        <option value="flying">Flying</option>
        <option value="electric">Electric</option>
        <option value="ground">Ground</option>
        <option value="fighting">Fighting</option>
        <option value="bug">Bug</option>
        <option value="psychic">Psychic</option>
        <option value="ghost">Ghost</option>
        <option value="normal">Normal</option>
        <option value="ice">ice</option>
        <option value="poison">Poison</option>
      </select>
    </h4>
    <!-- image -->
    <h4>
      <img src="<%= pokemon.image %>" style="width: 400px;">
      <p>
        Image source: <br/><br/>
        <input type="text" 
          value="<%= pokemon.image %>" 
          name="pokemon[image]"
          style="width: 58%;">
      </p>
    </h4>
    <br/>
    <!-- description -->
    <h4>
      Description:
      <p><textarea rows="6" cols="42" name="pokemon[description]"><%= pokemon.description %></textarea></p>
    </h4>
    <button class="btn btn-primary">Update</button>
  </form>
  <form action="/pokedex/<%= pokemon._id %>?_method=delete" method="post"></form>
    <button class="btn btn-danger">Delete</button>
  </form>
</div>

<% include partials/footer.ejs %>