<% include partials/header %>

<% pokemon.forEach(function(pokemon) {  %>
  <div class="container">
    <h2><a href="/pokedex/<%= pokemon.id %>" alt="<%= pokemon.name %>"><%= pokemon.name %></a></h2>
    <h5>Type: <%= pokemon.type %></h5>
    <img src="<%= pokemon.image %>">
    <p><%= pokemon.description %></p>
    <form method="post" action="/pokedex/<%= pokemon._id %>?_method=delete">
      <a href="/pokedex/<%= pokemon._id %>/edit" class="btn btn-primary">Edit</a>
      <button class="btn btn-danger" >Delete</button>
    </form>
  </div>
<% }) %>

<br/>
<br/>
<% include partials/footer %>