<% include partials/header %>

<h3>Pokémon types</h3>
<div class="types">

  <div class="row">

    <% for (var i = 0; i < 3; i++) { %>
    <div class="col-sm-4">
      <a href="/types/<%= types[i].name %>" class="typeName"><%= types[i].name %></a>
      <p>
        <span class="damage double">2×</span> 
        <%= types[i].double.join(', ') %>
      </p>
      <p>
        <span class="damage half">½×</span> 
        <%= types[i].half.join(', ') %>
      </p>
      <% if (types[i].zero) { %>
        <p>
          <span class="damage zero">0×</span> 
          <%= types[i].zero %>
        </p>
        <% } %>
    </div>
    <% } %>

  </div>  
  <div class="row">

    <% for (var i = 3; i < 6; i++) { %>
      <div class="col-sm-4">
        <a href="/types/<%= types[i].name %>" class="typeName"><%= types[i].name %></a>
        <p>
          <span class="damage double">2×</span> 
          <%= types[i].double.join(', ') %>
        </p>
        <p>
          <span class="damage half">½×</span> 
          <%= types[i].half.join(', ') %>
        </p>
        <% if (types[i].zero) { %>
          <p>
            <span class="damage zero">0×</span> 
            <%= types[i].zero %>
          </p>
        <% } %>
      </div>
    <% } %>

  </div>
  <div class="row">

    <% for (var i = 6; i < 9; i++) { %>
      <div class="col-sm-4">
        <a href="/types/<%= types[i].name %>" class="typeName"><%= types[i].name %></a>
        <p>
          <span class="damage double">2×</span> 
          <%= types[i].double.join(', ') %>
        </p>
        <p>
          <span class="damage half">½×</span> 
          <%= types[i].half.join(', ') %>
        </p>
        <% if (types[i].zero) { %>
          <p>
            <span class="damage zero">0×</span> 
            <%= types[i].zero %>
          </p>
        <% } %>
      </div>
    <% } %>

  </div>
  <div class="row">

    <% for (var i = 9; i < 12; i++) { %>
      <div class="col-sm-4">
        <a href="/types/<%= types[i].name %>" class="typeName"><%= types[i].name %></a>
        <p>
          <span class="damage double">2×</span> 
          <%= types[i].double.join(', ') %>
        </p>
        <p>
          <span class="damage half">½×</span> 
          <%= types[i].half.join(', ') %>
        </p>
        <% if (types[i].zero) { %>
          <p>
            <span class="damage zero">0×</span> 
            <%= types[i].zero %>
          </p>
        <% } %>
      </div>
    <% } %>

  </div>
  <div class="row">

    <% for (var i = 12; i < 15; i++) { %>
      <div class="col-sm-4">
        <a href="/types/<%= types[i].name %>" class="typeName"><%= types[i].name %></a>
        <p>
          <span class="damage double">2×</span> 
          <%= types[i].double.join(', ') %>
        </p>
        <p>
          <span class="damage half">½×</span> 
          <%= types[i].half.join(', ') %>
        </p>
        <% if (types[i].zero) { %>
          <p>
            <span class="damage zero">0×</span> 
            <%= types[i].zero %>
          </p>
        <% } %>
      </div>
    <% } %>

    </div>
</div>

<% include partials/footer %>